<!DOCTYPE html>
<html lang="pt-br" 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"  
	xmlns:s="http://www.springframework.org/tags"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadraoNature">
<head>
	<title>NaturÊ | Carrinho</title>
</head>
<body class="goto-here">
	<section layout:fragment="conteudo">	
		<!--Banner--> 
	    <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
	      <div class="container">
	        <div class="row no-gutters slider-text align-items-center justify-content-center">
	          <div class="col-md-9 ftco-animate text-center">
	            <h1 class="mb-0 bread">Carrinho de compras</h1>
	          </div>
	        </div>
	      </div>
	    </div>
		<!--Conteúdo principal da página-->
	    <section class="ftco-section ftco-cart">
				<div class="container">
					<div class="row">
	    			<div class="col-md-12 ftco-animate">
	    				<div class="cart-list">
							<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="not ${#strings.isEmpty(mensagem)}">
							  <span th:text="${mensagem}"></span>
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</div>
		    				<table class="table">
							    <thead class="thead-primary">
							      <tr class="text-center">
							        <th>&nbsp;</th>
							        <th>&nbsp;</th>
							        <th>Produto</th>
							        <th>Preço</th>
							        <th>Quantidade</th>
							        <th>Total</th>
							      </tr>
							    </thead>
							    <tbody>
							    	<tr th:if="${carrinho.getQtdProdutos() == 0}">
							    		<td colspan="6"><h5><span>Seu carrinho está vazio</span></h5></td>
							    	</tr>
							      <th:block class="bloco_produto" th:each="item : ${carrinho.itens}">
								      <tr class="produto">
								        <td class="product-remove"><a th:href="@{/carrinho/rmv/{id}(id=${item.produto.id})}"><span class="ion-ios-close"></span></a></td>
								        
								        <td class="image-prod"><div class="img"><img class="img-fluid" th:src="${item.produto.url}" alt="Colorlib Template"/></div></td>
								        
								        <td class="product-name">
								        	<h3><span th:text="${item.produto.nome}"></span></h3>
								        	<p><span th:text-align="left" th:text="${item.produto.descricao}"></span></p>
								        </td>
								        
								        <td class="price"><span class="valorProduto" id="valorProduto" th:value="${item.produto.valor}"  th:text="|R$ ${item.produto.valor} (${item.produto.tipoPreco.descricao})|"></span></td>
								        
								        <td class="quantity">
								        	<div class="input-group mb-2">
							             		<input th:type="number" name="quantidade" id="quantidade" class="quantity form-control input-number" onchange="calcularTotalProduto()" th:value="${item.quantidade}" th:step="${item.produto.step}" th:min="${item.produto.step}">
							          		</div>
							         	</td>
								      	<td class="total"><span class="totalProduto"></span></td>
								      	<td><input th:type="hidden" name="produtoId" id="produtoId" class="produtoId" th:value="${item.produto.id}"></td> 
								      </tr><!-- END TR-->
								     	
							      <th:block>
							    </tbody>
							  </table>
						  </div>
	    			</div>
	    		</div>
	    		<div class="row justify-content-end">
	    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
	    				<div class="cart-total mb-3">
	    					<h3>Cupom de desconto</h3>
	    					<p>Insira seu cupom de desconto</p>
	  						<form action="#" class="info">
				              <div class="form-group">
				              	<label for="">Código do cupom</label>
				                <input id="cupom_codigo" type="text" class="form-control text-left px-3" placeholder="">
				              </div>
		            		</form>
	    				</div>
	    				<p><a href="#validacao" class="btn btn-primary py-3 px-4" onclick="validarCupom()">Utilizar Cupom</a></p>
	    			</div>
	    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
	    				<div class="cart-total mb-3">
	    					<h3>Estimar taxa de entrega</h3>
	    					<p>Insira sua localização para obter uma estimativa</p>
	  						<form action="#" class="info">
		              <div class="form-group">
		              	<label for="cep">CEP</label>
		                <input type="text" id="cep" class="form-control text-left px-3" placeholder="">
		              </div>
		            </form>
	    				</div>
	    				<p><a href="#validacao" class="btn btn-primary py-3 px-4" onClick="calcularFrete()">Consultar</a></p>
	    			</div>
	    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate" id="validacao">
	    				<div class="cart-total mb-3">
	    					<h3 id="validacao">Total da Compra</h3>
	    					<p class="d-flex">
	    						<span>Produtos</span>
	    						<span class="totalProdutos">R$ 0,00</span>
	    					</p>
	    					<p class="d-flex">
	    						<span>Entrega</span>
	    						<span class="frete">R$ 0.00</span>
	    					</p>
	    					<p class="d-flex">
	    						<span>Desconto</span>
	    						<span class="desconto">R$ 0.00</span>
	    					</p>
	    					<hr>
	    					<p class="d-flex total-price">
	    						<span>Total</span>
	    						<span class="totalVenda">R$ 0.00</span>
	    					</p>
	    				</div>
	    				<p><a href="#validacao" class="btn btn-primary py-3 px-4" th:onclick="'validandoCompra('+${logado}+')'">Validar Compra</a></p>
	    			</div>
	    		</div>
				</div>
			</section>
	</section>		
 <th:block layout:fragment="javascript-extra">
	<script src="/js/carrinho_de_compras.js"></script>
 </th:block>   
</body>
</html>