<!DOCTYPE html>
<html lang="pt-br" 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"  
	xmlns:s="http://www.springframework.org/tags"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadraoNature">
<head>
	<title>NaturÊ | Produtos</title>
</head>
<body class="goto-here">
	<section layout:fragment="conteudo">
		<!--Banner--> 
	    <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
	      <div class="container">
	        <div class="row no-gutters slider-text align-items-center justify-content-center">
	          <div class="col-md-9 ftco-animate text-center">
	            <h1 class="mb-0 bread">Detalhes da Venda</h1>
	          </div>
	        </div>
	      </div>
	    </div>
		<!--Conteúdo principal da página-->
	    <section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-7 ftco-animate">
							<h3 class="mb-4 billing-heading">Detalhes da Venda</h3>
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="mb-0" >
											<button class="btn btn-link" style="color: green;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
												Cliente
											</button>
										</h5>
									</div>
									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
										<form action="#" id="form_client" name="form_client" class="billing-form">
											<div class="form-row" style="padding: 10px;">
												<div class="form-group col-md-6">
												  <label for="nome">Nome</label>
												  <input type="text" class="form-control" th:field="*{cliente.nome}" placeholder="Nome do cliente" disabled>
												</div>
												<div class="form-group col-md-6">
												  <label for="sobrenome">Sobrenome</label>
												  <input type="text" class="form-control" th:field="*{cliente.sobrenome}"  placeholder="Sobrenome" disabled>
												</div>
												  <input type="hidden" id="idCliente" th:value="${cliente.id}">
											</div>
										</form>			
									</div>
								</div>	
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" style="color: green;" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												Endereço de entrega
											</button>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<form action="#" id="form_addres" name="form_addres" class="billing-form">
											<div class="form-row" style="padding: 10px;">
												<div class="form-group col-md-12">
													<label for="endereco">Endereço</label>
													<div class="select-wrap">
														<div class="icon"><span class="ion-ios-arrow-down"></span></div>
														<select name="pre_cadastrado" id="pre_cadastrado" class="form-control" onchange="obterEndereco()">
															<th:block th:each="endereco : ${enderecos}">
																<option th:id="select-endereco" th:value="${endereco.id_endereco}" th:text="${endereco.descricao}"></option>
														    </th:block>
														</select>
													</div>
												</div>
												<div class="form-group col-md-6">
													<label for="logradouro">Logradouro</label>
													<input type="text" name="logradouro" id="logradouro" class="form-control" minlength="3" disabled required>
												</div>
												<div class="form-group col-md-2">
													<label for="numero">Nº</label>	
													<input type="number" id="numero" class="form-control" min="0" step="1" required disabled>
												</div>
												<div class="form-group col-md-4">
													<label for="streetaddress">Tipo de Residência</label>	
													<input type="text" id="tipoRes" class="form-control" required disabled>
												</div>
												<div class="form-group col-md-5">
													<label for="cidade">Cidade</label>
													<input type="text" id="cidade" class="form-control" required disabled>
												</div>
												<div class="form-group col-md-2">
													<label for="estado">Estado</label>
													<input type="text" id="estado" class="form-control" required disabled>
												</div>
												<div class="form-group col-md-5">
													<label for="bairro">Bairro</label>
													<input type="text" id="bairro" class="form-control" required disabled>
												</div>
												<div class="form-group col-md-12">
													<div class="radio">
														<label><input type="checkbox" id="check_endereco" onclick="habilitarOutroEndereco()"> Entregar em outro endereço</label>
													</div>
												</div>
												<div class="form-group col-md-12" id="hidden-button-addres" style="display: none">
													<p>
														<button type="submit" form="form_addres" class="btn btn-primary py-3 px-4">
															<span id="icon_button_addres"></span>
															Confirmar endereço de entrega
														</button>
													</p>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<h5 class="mb-0">
											<button class="btn btn-link collapsed" style="color: green;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Forma de pagamento
											</button>
										</h5>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<form name="form_card" id="form_card" class="billing-form">
											<div class="form-row" style="padding: 10px;">
												<div class="form-group col-md-12">
													<label for="bandeira">Bandeira</label>
													<div class="select-wrap">
														<div class="icon"><span class="ion-ios-arrow-down"></span></div>
														<select name="bandeira" id="bandeira" class="form-control">
															<th:block th:each="bandeira : ${tiposBandeira}">
																<option th:id="select-bandeira" th:value="${bandeira}" th:text="${bandeira.descricao}"></option>
														    </th:block>
														</select>
													</div>
												</div>
												<div class="form-group col-md-12">
													<label for="titulat">Titular</label>
													<input type="text" name="titular" id="titular" class="form-control" minlength="3" placeholder="Titular do cartão" required>
												</div>
												<div class="form-group col-md-12">
													<label for="numeroCartao">Nº do cartão</label>
													<input type="text" name="numeroCartao" id="numeroCartao" class="form-control" placeholder="Número do cartão" required>
												</div>
												<div class="form-group col-md-6">
													<label for="vencimento">Vencimento</label>
													<input type="month" name="vencimento" id="vencimento" class="form-control" placeholder="MM/AA" required>
												</div>
												<div class="form-group col-md-6">
													<label for="cvv">CVV</label>
													<input type="text" name="cvv" id="cvv" class="form-control" placeholder="Ex.: 534" minlength="3" maxlength="3"  required>
												</div>
												<div class="form-group col-md-8">
													<label for="valor">Valor</label>
													<div class="input-group">
														<div class="input-group-prepend">
														  <span class="input-group-text" id="inputGroupPrepend3">R$</span>
														</div>
														<input type="number" class="form-control is-invalid" id="valor" th:value="${totalCompra}" min="0.01" step="0.01" placeholder="Valor á ser pago com este cartão" aria-describedby="inputGroupPrepend3" required disabled>
													</div>
												</div>
												<div class="form-group col-md-12">
													<div class="radio">
														<label><input type="checkbox" id="add_card" onclick="habilitarInserirCartao()"> Pagar com mais de um cartão</label>
													</div>
													<div class="radio">
														<label><input type="checkbox" id="save_card"> Salvar cartão para futuras transações</label>
													</div>
												</div>
												<div class="form-group col-md-12" id="button-card" align="center">
													<p>
														<button type="submit" form="form_card" class="btn btn-primary py-3 px-4">
															<span class="icon-add_circle"></span>
															Validar cartão
														</button>
													</p>
												</div>
												<div class="form-group col-md-12" id="hidden-button-card" align="center" style="display: none">
													<p>
														<button type="submit" form="form_card" class="btn btn-primary py-3 px-4">
															<span class="icon-add_circle"></span>
															Adicionar mais um cartão
														</button>
													</p>
												</div>
											</div>
										</form>	
									</div>
								</div>
							</div>
					</div>
					<div class="col-xl-5">
						<div class="row mt-5 pt-3">
							<div class="col-md-12 d-flex mb-5">
								<div class="cart-detail cart-total p-3 p-md-4" align="center">
									<h3 class="billing-heading mb-4">Total da Compra</h3>
									<p class="d-flex">
										<span>Produtos</span>
										<span id="valor_produtos" th:text="|R$ ${totalProdutos}|">R$00.00</span>
									</p>
									<p class="d-flex">
										<span>Entrega</span>
										<span th:text="|R$ ${frete}|">R$00.00</span>
									</p>
									<p class="d-flex">
										<span>Desconto</span>
										<span th:text="|R$ ${desconto}|">R$0.00</span>
									</p>	
									<hr>
									<p class="d-flex total-price">
										<span>Total</span>
										<span id="total" th:text="|R$ ${totalCompra}|">R$0.00</span>
									</p>
									<p><button type="submit" class="btn btn-primary py-3 px-4" onclick="concluirCompra()">Concluir</button></p>
								</div>
							</div>
						</div>
						<div class="row mt-5 pt-3">
							<div class="col-md-12 d-flex mb-5">
								<div class="cart-detail cart-total p-3 p-md-4" align="center">
									<h3 class="billing-heading mb-4">Cartões utilizados</h3>
									<p class="d-flex">
										<span>Final</span>
										<span>Valor</span>
										<span>Bandeira</span>
										<span></span>
									</p>
									<div id="cartoes_adicionados">
									</div>	
									<hr>
									<p class="d-flex total-price" align="center">
										<span>&nbsp Total</span>
										<span id="total_card">R$0.00</span>
									</p>
								</div>
							</div>
						</div>
					</div> <!-- .col-md-8 -->
				</div>
			</div>
	    </section>
	</section>    
 <th:block layout:fragment="javascript-extra">
	<script src="/js/conclusao.compra.js"></script>
 </th:block>    
</body>
</html>