<!DOCTYPE html>
<html lang="pt-br" 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"  
	xmlns:s="http://www.springframework.org/tags"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadraoNature">
<head>
	<title>NaturÊ | Contatos</title>
</head>
<body class="goto-here">
	<section layout:fragment="conteudo">
		<!--Banner--> 
	    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
	      <div class="container">
	        <div class="row no-gutters slider-text align-items-center justify-content-center">
	          <div class="col-md-9 ftco-animate text-center">
	            <h1 class="mb-0 bread">Fale Conosco</h1>
	          </div>
	        </div>
	      </div>
	    </div>
		<!-- Principal -->
	    <section class="ftco-section contact-section bg-light">
	      <div class="container">
	      	<div class="row d-flex mb-5 contact-info">
	          <div class="w-100"></div>
	          <div class="col-md-3 d-flex">
	          	<div class="info bg-white p-4">
		            <p><span>Endereco:</span> Antônio Bóz Vidal, 94, Jardim Bela Vista, Mogi das Cruzes-SP</p>
		          </div>
	          </div>
	          <div class="col-md-3 d-flex">
	          	<div class="info bg-white p-4">
		            <p><span>Telefone:</span> <a href="#">+55 11 4744 4447</a></p>
		          </div>
	          </div>
	          <div class="col-md-3 d-flex">
	          	<div class="info bg-white p-4">
		            <p><span>Email:</span> <a href="#">info@nature.com.br</a></p>
		          </div>
	          </div>
	          <div class="col-md-3 d-flex">
	          	<div class="info bg-white p-4">
		            <p><span>Site:</span> <a href="#">nature.com.br</a></p>
		          </div>
	          </div>
	        </div>
	        <div class="row block-9">
	          <div class="col-md-6 order-md-last d-flex">
	            <form action="#" class="bg-white p-5 contact-form">
	              <div class="form-group">
	                <input id="nome" type="text" class="form-control" placeholder="Seu nome" required>
	              </div>
	              <div class="form-group">
	                <input id="email" type="email" class="form-control" placeholder="Seu e-mail" required>
	              </div>
	              <div class="form-group">
	                <input id="assunto" type="text" class="form-control" placeholder="Assunto" required>
	              </div>
	              <div class="form-group">
	                <textarea name="" id="mensagem" cols="30" rows="7" class="form-control" placeholder="Menssagem" required></textarea>
	              </div>
	              <div class="form-group">
	                <input type="submit" value="Enviar" onclick="mensagemEnviada()" class="btn btn-primary py-3 px-5">
	              </div>
	            </form>
	          </div>
	          <div class="col-md-6 d-flex">
	          	<div id="map" class="bg-white">
	          		<iframe src="https://www.google.com/maps/embed?pb=!4v1593454515959!6m8!1m7!1sZZtN3jDUMwlLswrscstAew!2m2!1d-23.50650933827521!2d-46.14605905116886!3f182.15289349603228!4f-6.359423386638355!5f0.7820865974627469" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	          	</div>
	          </div>
	        </div>
	      </div>
	    </section>
    </section>
 <th:block layout:fragment="javascript-extra">
  <script src="/js/just-some-alerts.js"></script>
 </th:block>	
  </body>
</html>