<!DOCTYPE html>
<html lang="pt-br" 	xmlns="http://www.w3.org/1999/xhtml"
					xmlns:th="https://thymeleaf.org"  
					xmlns:s="http://www.springframework.org/tags"  
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
					layout:decorator="layout/LayoutPadraoDashboard">
<head>
	<title>NaturÊ | Produtos</title>
</head>
<body>
	<section layout:fragment="conteudo">
        <!-- Navegação -->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Painel de Controle</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="/admin">Painel de Controle</a></li>
                                    <li><a href="/produto/listar">Produtos</a></li>
                                    <li class="active">Editar</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.navegação-->
        <!-- Principal-->
        <div class="content">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Informações do Produto</h4>
                    </div>  	
                    <div class="card-body">
                    <!--Dados Cadastrais #Produto-->
                        <form action="/produto/editar" th:object="${produto}" method="post" class="billing-form">
                            <div class="card-body">
	                    		<th:block th:each="erro : ${#fields.detailedErrors()}">
	                    			<div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
				                        <span class="badge badge-pill badge-danger">Ops !</span>
				                        <span th:text="${erro.message}"></span>	
				                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				                            <span aria-hidden="true">&times;</span>
				                        </button>
									</div>        
	                            </th:block> 
		                        <div class="row align-items-end">
		                                <div class="col-md-8">
		                                    <div class="row align-items-end"> 
		                                        <div class="col-md-12">
		                                            <div class="has-warning form-group">
		                                                <label class="form-control-label" for="produto">Produto</label>
		                                                <div class="input-group">    
		                                                    <div class="input-group-addon"><i class="fa fa-leaf"></i></div>
		                                                    <input type="text" name="produto" id="produto" th:field="*{nome}" class="form-control " th:classappend="${#fields.hasErrors('nome')} ? is-invalid" >
		                                                </div>
		                                            </div>
		                                        </div>
		                                        <div class="col-md-12">
		                                            <div class="form-group">
		                                                <label for="tipoProduto">Tipo</label>
		                                                <div class="input-group">    
		                                                    <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
		                                                    <select name="tipoProduto" id="tipoProduto" th:field="*{tipo}" class="form-control" required>
		                                                        <option th:value="${produto.tipo}" th:text="${produto.tipo.descricao}"></option>
		                                                        <th:block th:each="tipo : ${tiposProduto}">
		                                                            <option th:value="${tipo}" th:text="${tipo.descricao}"></option>
		                                                        </th:block>
		                                                    </select>
		                                                </div>
		                                            </div>
		                                        </div>							
		                                        <div class="col-md-12">
		                                            <div class="has-warning form-group">
		                                                <label for="valor" class="form-control-label">Valor</label>
		                                                <div class="input-group">
		                                                    <div class="input-group-addon"><i class="fa fa-money"></i></div>
		                                                    <input type="number" name="valor" id="valor" th:field="*{valor}" class="form-control" min="0" step="0.01" placeholder="Ex.: 9,99" th:classappend="${#fields.hasErrors('valor')} ? is-invalid">
		                                                </div>
		                                            </div>
		                                        </div>
		                                         <div class="col-md-12">
		                                            <div class="form-group">
		                                                <label for="tipoPreco">Precificação</label>
		                                                <div class="input-group">    
		                                                    <div class="input-group-addon"><i class="fa fa-list-ul"></i></div>
		                                                    <select name="tipoPreco" id="tipoPreco" th:field="*{tipoPreco}" class="form-control" required>
		                                                        <option th:value="${tipoPreco}" th:text="|${produto.tipoPreco} (${produto.tipoPreco.descricao})|"></option>
		                                                        <th:block th:each="tipo : ${tiposPrecificacao}">
		                                                            <option th:value="${tipo}" th:text="|${tipo} (${tipo.descricao})|"></option>
		                                                        </th:block>
		                                                    </select>
		                                                </div>
		                                            </div>
		                                        </div>	
		                                        <input type="hidden" name="id" id="id" th:field="*{id}">
		                                    </div>
		                                  </div>
		                                  
		                                  <div class="col-md-4 js-container-foto">
		                                       
		                                       <!-- Tem foto -->
		                                       <img th:src="${produto.url}" th:if="${produto.temFoto()}" class="img-responsive" style="margin: auto"/>
		                                       <!-- Não tem foto -->
		                                       <div id="upload-drop" class="pdt-upload" th:attr="data-codigo=${produto.id}" th:if="${not produto.temFoto()}">
		                                           <img th:src="@{/images/mockup1.jpg}" class="img-responsive" style="margin: auto"/>
		                                           <div>
		                                               <span> Arraste a foto ou </span>
		                                               <a class="pdt-upload-form-file"><strong>selecione</strong><input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
		                                           </div>
		                                       </div>
		                                  </div>
		                                  <div class="col-md-12">
		                                    <div class="has-warning form-group">
		                                        <label for="rg" class="form-control-label">Descrição</label>
		                                        <textarea type="text" name="descricao" id="descricao" th:field="*{descricao}" rows="4" class="form-control" maxlength="250" th:classappend="${#fields.hasErrors('descricao')} ? is-invalid"></textarea>
		                                  	</div> 
		                                  </div>
		                                  <div class="col-md-12">
		                                    <div class="form-group">		
		                                    	<button type="submit" class="btn btn-outline-warning"><i class="ti-pencil"></i>&nbsp; Editar</button>		
		                                    </div>
		                                  </div>	
		              			</div><!-- /.centralizador_do_form-->
                            </div>    
                        </form>    
                        <!--/.produto-->
                    </div><!-- /.card principal -->
                </div>
            </div>
        </div>
        <!--/.principal-->
        <div class="clearfix"></div>
    </section>    
</body>
</html>
