<!DOCTYPE html>
<html lang="pt-br" 	xmlns="http://www.w3.org/1999/xhtml"
					xmlns:th="https://thymeleaf.org"  
					xmlns:s="http://www.springframework.org/tags"  
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
					layout:decorator="layout/LayoutPadraoDashboard">
<head>
	<title>NaturÊ | Produtos</title>
</head>
<body>
	<section layout:fragment="conteudo">
        <!-- Navegação -->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Painel de Controle</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="/admin">Painel de Controle</a></li>
                                    <li><a href="/produto/adm/listar">Produtos</a></li>
                                    <li class="active">Detalhes</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.navegação-->
        <!-- Principal-->
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Informações Cadastrais</strong>
                            </div>	
                            <form action="#" class="billing-form">
                            <div class="card-body">
                               <div class="col-md-12">
                        	   		<div class="col-md-12">
						              <div class="row align-items-end">              
						              	<strong class="card-title">Detalhes</strong>
						              	
						              </div>              
				           			</div>
				               </div>
                                    <div class="col-md-12">
                                        <div class="row align-items-end">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="produto">Produto</label>
                                                    <input type="text" name="produto" id="produto" th:field="*{produto.nome}" class="form-control" disabled>
                                                </div>
                                            </div>
                                            <div class="col col-md-6">
                                                <div class="form-group">
                                                    <label for="tipo">Tipo</label>
                                                    <input type="text" name="tipo" id="tipo" th:field="*{produto.tipo.descricao}" class="form-control" disabled>
                                                </div>
                                            </div>							
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="valor">Valor</label>
                                                    <input type="text" name="valor" id="valor" th:field="*{produto.valor}" class="form-control" maxlength="11" pattern="[0-9]+$" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="valor">Precificação</label>
                                                    <input type="text" name="valor" id="valor" th:field="*{produto.tipoPreco}" class="form-control" maxlength="11" pattern="[0-9]+$" disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="descricao">Descrição</label>
                                                    <textarea type="text" name="descricao" id="descricao" th:field="*{produto.descricao}" rows="9" class="form-control" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>  
                            </form>    
	                    </div>
	                </div>
	            </div>        
	        </div>
        </div>
        <!--/.principal-->
        <div class="clearfix"></div>
	</section>
</body>
</html>
