<!DOCTYPE html>
<html lang="pt-br" 	xmlns="http://www.w3.org/1999/xhtml"
					xmlns:th="https://thymeleaf.org"  
					xmlns:s="http://www.springframework.org/tags"  
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
					layout:decorator="layout/LayoutPadraoDashboard">
<head>
	<title>NaturÊ | Clientes</title>
</head>	
<body>
	<section layout:fragment="conteudo">
        <!-- Navegação -->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Painel de Controle</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="/admin">Painel de Controle</a></li>
                                    <li><a href="/cliente/listar">Clientes</a></li>
                                    <li class="active">Editar</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.navegação-->
        <!-- Principal-->
        <div class="content">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Informações Cadastrais</h4>
                    </div>
                    <th:block th:each="msg : ${resultado}" >
	                    <div th:class="${sucesso} ? 'alert alert-success' : 'alert alert-danger' " role="alert">
							<span th:text="${msg}"></span>
						</div>
					</th:block>	
					
                    <div class="card-body">
                        <div class="default-tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-dados_pessoais-tab" data-toggle="tab" href="#nav-dados_pessoais" role="tab" aria-controls="nav-dados_pessoais" aria-selected="true">Dados Pessoais</a>
                                    <a class="nav-item nav-link" id="nav-endereco-tab" data-toggle="tab" href="#nav-endereco" role="tab" aria-controls="nav-endereco" aria-selected="false">Endereço(s)</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Telefone(s)</a>
                                </div>
                            </nav>
                            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                <!--Dados Pessoais-->
                                <div class="tab-pane fade show active" id="nav-dados_pessoais" role="tabpanel" aria-labelledby="nav-dados_pessoais-tab">
                                    <form action="/cliente/alterar" method="post" class="billing-form">
                                        <div class="card-body">
                                           <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="row align-items-end">              
                                                        <strong class="card-title">Dados Pessoais</strong>
                                                    </div>              
                                                </div>
                                           </div>
                                           <div class="col-md-12">
                                                   <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="nome">Nome</label>
                                                             <input type="text" name="nome" id="nome" th:field="*{cliente.nome}" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="sobrenome">Sobrenome</label>
                                                             <input type="text" name="sobrenome" id="sobrenome" th:field="*{cliente.sobrenome}" class="form-control" required>
                                                        </div>
                                                    </div>							
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="cpf">CPF</label>
                                                            <input type="text" name="cpf" id="cpf" th:field="*{cliente.cpf}" class="form-control" maxlength="11" pattern="[0-9]+$" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="rg">RG</label>
                                                            <input type="text" name="rg" id="rg" th:field="*{cliente.rg}" class="form-control" maxlength="11" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="dt_nasc">Data de Nascimento</label>
                                                            <input type="date" name="dtNasc" id="dtNasc" th:value="*{cliente.dtNasc}" class="form-control" maxlength="10" required>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="operacao" id="operacao" value="ALTERAR">
                                                    <input type="hidden" name="entidade" id="entidade" value="CLIENTE">
                                                    <input type="hidden" name="id_cliente" id="id_cliente" th:value="*{cliente.id}">
                                               		</div>     
                                                    <div class="row align-items-end">
                                                    	<div class="col-md-6">
                                                    	<div  class=form-group>		
                                                    		<button type="submit" class="btn btn-outline-warning"><i class="ti-pencil"></i>&nbsp; Editar</button>
                                                		</div>
                                                		</div>	
                                                	</div>
                                                
                                           </div>    
                                        </div>
                                    </form>    
                                </div>
                                <!--/.dadosPessoais-->
                                <!--Endereço(s)-->
                                <div class="tab-pane fade" id="nav-endereco" role="tabpanel" aria-labelledby="nav-endereco-tab">
                                    <th:block th:each="endereco : ${enderecos}" >
                                    	<form action="/cliente/alterar" method="post" class="billing-form">    
                                            <div class="card-body">
                                                <div class="col-md-12">
                                                        <div class="row align-items-end">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="descricao">Descrição</label>
                                                                    <input type="text" name="descricao" id="descricao" th:value="${endereco.descricao}" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="lodradouro">Logradouro</label>
                                                                    <input type="text" name="logradouro" id="lodradouro" th:value="${endereco.logradouro.logradouro}" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <label for="numero">Nº</label>
                                                                    <input type="number" name="numero" id="numero" th:value="${endereco.numero}"  class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="tipoResidencia">Tipo de Residência</label>
                                                                    <select name="tipoResidencia" id="tipoResidencia" class="form-control" required>
                                                                    	<option th:value="${endereco.tipoResidencia}" th:text="${endereco.tipoResidencia.descricao}"></option>
																		<th:block th:each="tipoRes : ${tiposResidencia}">
																			<option th:value="${tipoRes}" th:text="${tipoRes.descricao}"></option>
																	    </th:block>
																	</select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <label for="bairro">Bairro</label>
                                                                    <input type="text" name="bairro" id="bairro" th:value="${endereco.bairro}" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="cep">CEP</label>
                                                                    <input type="text" name="cep" id="cep" th:value="${endereco.cep}" class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <div class="form-group">
                                                                    <label for="cidade">Cidade</label>
                                                                    <input type="text" name="cidade" id="cidade" th:value="${endereco.cidade.cidade}"  class="form-control" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <label for="sigla">Estado</label>
                                                                    <select name="sigla" id="sigla" class="form-control" required>
                                                                    	<option th:value="${endereco.cidade.estado.sigla}" th:text="${endereco.cidade.estado.sigla}"></option>
																		<th:block th:each="sigla : ${siglasEstado}">
																			<option th:value="${sigla}" th:text="${sigla}"></option>
																	    </th:block>
																	</select>	
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="operacao" id="operacao" value="ALTERAR">
                                                    		<input type="hidden" name="entidade" id="entidade" value="ENDERECO">
                                                    		<input type="hidden" name="id" id="id" th:value="*{endereco.id_endereco}">
                                                    		<input type="hidden" name="id_cliente" id="id_cliente" th:value="*{cliente.id}">
                                                            <div class="col-md-3">
                                                            	<div class="form-group">		
                                                            		<button type="submit" class="btn btn-outline-warning"><i class="ti-pencil"></i>&nbsp; Editar</button>		
                                                        		</div>
                                                        	</div>
                                                        </div>  
                                                </div>
                                            </div>   
                                    	</form>
                                   </th:block>
                                </div>
                                <!--/.endereco-->
                                <!--Telefone(s)-->
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <th:block th:each="telefone : ${telefones}" >          
                                    	<form action="/cliente/alterar" method="post" class="billing-form">    
                                        	<div class="card-body">   				        
                                                <div class="col-md-12">	
                                                    <div class="row align-items-end">
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <label for="telefone">DDD</label>
                                                                    <input type="text" maxlength="2" name="DDDtelefone" id="DDDtelefone" th:value="${telefone.ddd}" class="form-control" required>
                                                                </div>
                                                            </div>	
                                                            <div class="col-md-3">	
                                                                <div class="form-group">
                                                                    <label for="telefone">Número</label>
                                                                    <input type="tel" name="numero" maxlength="11" id="numero" th:value="${telefone.numero}" class="form-control" required>						
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">	
                                                                <div class="form-group">
                                                                    <label for="telefone">Tipo de telefone</label>
                                                                    <select name="tipo" id="tipo" class="form-control" required>
                                                                    	<option th:value="${telefone.tipo}" th:text="${telefone.tipo.descricao}"></option>
																		<th:block th:each="tipoTel : ${tiposTelefone}">
																			<option th:value="${tipoTel}" th:text="${tipoTel.descricao}"></option>
																	    </th:block>
																	</select>
																	<!-- 
                                                                    <input type="tel" name="tipoDescricao" id="tipoDescricao" th:value="${telefone.tipo.descricao}" class="form-control" required>
                                                                	 -->
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="operacao" id="operacao" value="ALTERAR">
                                                            <input type="hidden" name="entidade" id="entidade" value="TELEFONE">
                                                    		<input type="hidden" name="id" id="id" th:value="*{telefone.idTelefone}">
                                                    		<input type="hidden" name="id_cliente" id="id_cliente" th:value="*{cliente.id}">
                                                            <div class="col-md-3">
                                                            	<div class="form-group">
                                                            	<button type="submit" class="btn btn-outline-warning"><i class="ti-pencil"></i>&nbsp; Editar</button>	        	
                                                    			</div>
                                                    		</div>
                                                    </div>            	
                                                </div>
                                            </div>
                                       </form>
                                    </th:block>       
                                </div>
                                <!--/.telefone(s)-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.principal-->
        <div class="clearfix"></div>
    </section>    
</body>
</html>
