<!DOCTYPE html>
<html lang="pt-br" 	xmlns="http://www.w3.org/1999/xhtml"
					xmlns:th="https://thymeleaf.org"  
					xmlns:s="http://www.springframework.org/tags"  
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
					layout:decorator="layout/LayoutPadraoDashboard">
<head>
	<title>NaturÊ | Solicitações de troca</title>
</head>					
<body>
	<section layout:fragment="conteudo">
		<!-- Navegação -->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Painel de Controle</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="/admin">Painel de Controle</a></li>
                                    <li><a href="/pedidos/adm/acompanhar">Pedidos</a></li>
                                    <li><a href="/pedidos/adm/troca">Solicitações de Troca</a></li>
                                    <li class="active">Detalhes</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.navegação-->	
		<!-- Principal-->
        <div class="content">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 style="font-weight: bold"><span th:text="|Detalhes da Solicitação #${solicitacao.id}|"></span></h4>
                    </div>
                    <div class="row" style="padding : 20px 20px 0px">	
	                    <!-- Card cliente -->
	                    <div class="col-lg-6" style="padding: 10px">
		                    <div class="card">
		                   		<div class="card-header">
		                   			<h5 style="text-align: center">Cliente</h5>
		                   		</div>
		                   		<div class="card-body">
		                   			<p class="card-text" th:text="|${cliente.nome} ${cliente.sobrenome} |"></p>
		                   			<p class="card-text" th:text="|CPF: ${cliente.cpf}|"></p>
		                   			<p class="card-text" th:text="|Identificador: #${cliente.id}|"></p>
		                   		</div>
		                    </div>
	                    </div>
	                    <!-- ./cliente -->
	                    <div class="col-12 col-md-8">
	                    	<a class="btn btn-outline-success" th:href="@{/pedidos/adm/troca/concluir/{aceite}/{id}(aceite='true',id=${solicitacao.id})}" th:classappend="${solicitacao.aprovada} ? disabled">Aprovar Solicitação <i class="ti-thumb-up"></i></a>
	                    	<a class="btn btn-outline-danger" th:href="@{/pedidos/adm/troca/concluir/{aceite}/{id}(aceite='false',id=${solicitacao.id})}" th:classappend="not ${solicitacao.situacao.descricao == 'Aguardando análise'} ? disabled">Vetar Solicitação <i class="ti-thumb-down"></i></a>
	                    </div>
	                </div>    
                    <div class="card-body">
                    	<div class="card">
                    		<div class="card-header">Itens da solicitação</div>
	                    	<div class="card-body">
		                    	<table id="bootstrap-data-table" class="table table-striped table-bordered" style="padding: 10px">
		                        	<thead>
		                        		<tr>
		                                	<th scope="col" style=" text-align: center">Código</th>
		                                	<th scope="col" style=" text-align: center">Produto</th>
		                                	<th scope="col" style=" text-align: center">Quantidade</th>
		                                	<th scope="col" style=" text-align: center">Valor</th>
		                                	<th scope="col" style=" text-align: center">Subtotal</th>
		                                </tr>	
		                        	</thead>
		                        	<tbody>
		                        	  <th:block th:each= "item : ${solicitacao.itens}">
		                        		<tr>	
		                        			<td th:text="|#${item.produto.id}|" style=" text-align: center"></td>
		                        			<td th:text="${item.produto.nome}" style=" text-align: center"></td>
		                        			<td th:text="|${item.quantidade} (${item.produto.tipoPreco.descricao})|" style=" text-align: center"></td>
		                        			<td th:text="|R$ ${item.produto.valor}|" style=" text-align: center"></td>
		                        			<td th:text="|R$ ${item.total}|" style=" text-align: center"></td>
		                        		</tr>
		                        	  </th:block>
		                        	</tbody>
		                        	<tfoot>
		                        		<tr>
		                        			<td colspan="3">&nbsp;</td>
		                        			<td style="font-weight: bold; text-align: right">Total</td>
		                        			<td style="font-weight: bold; text-align: center" th:text="|R$ ${solicitacao.valorTroca}|"></td>
		                        		</tr>
		                        	</tfoot>
		                        </table>
	                        </div>
                        </div>
                    </div>
               </div>
            </div> 
        </div>
        <!-- /.principal --> 
    </section>
</body>
</html>             