<!DOCTYPE html>
<html lang="pt-br" 	xmlns="http://www.w3.org/1999/xhtml"
					xmlns:th="https://thymeleaf.org"  
					xmlns:s="http://www.springframework.org/tags"  
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
					layout:decorator="layout/LayoutPadraoDashboard">
<head>
	<title>NaturÊ | Clientes</title>
</head>	
<body>
	<section layout:fragment="conteudo">
        <!-- Navegação -->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Painel de Controle</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="/admin">Painel de Controle</a></li>
                                    <li><a href="/cliente/listar">Clientes</a></li>
                                    <li class="active">Detalhes</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.navegação-->
        <!-- Principal-->
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Informações Cadastrais</strong>
                            </div>	
                            <form action="#" class="billing-form">
                            <div class="card-body">
                               <div class="col-md-12">
                        	   		<div class="col-md-12">
						              <div class="row align-items-end">              
						              	<strong class="card-title">Dados Pessoais</strong>
						              	
						              </div>              
				           			</div>
				               </div>
                               <div class="col-md-12">
                               		<div class="row align-items-end">
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label for="nome">Nome</label>
	                                             <input type="text" name="nome" id="nome" th:field="*{cliente.nome}" class="form-control" disabled>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label for="sobrenome">Sobrenome</label>
	                                             <input type="text" name="sobrenome" id="sobrenome" th:field="*{cliente.sobrenome}" class="form-control" disabled>
	                                        </div>
	                                    </div>							
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label for="cpf">CPF</label>
	                                            <input type="text" name="cpf" id="cpf" th:field="*{cliente.cpf}" class="form-control" maxlength="11" pattern="[0-9]+$" disabled>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label for="rg">RG</label>
	                                            <input type="text" name="rg" id="rg" th:field="*{cliente.rg}" class="form-control" maxlength="11" disabled>
	                                        </div>
	                                    </div>
	                                    <div class="col-md-3">
	                                        <div class="form-group">
	                                            <label for="dt_nasc">Data de Nascimento</label>
	                                            <input type="text" name="dtNasc" id="dtNasc" th:field="*{cliente.dtNasc}" class="form-control" maxlength="10" disabled>
	                                        </div>
	                                    </div>
                                    </div>
                               </div>    
                            </div>
                            <div class="card-body">
                               <div class="col-md-12">   
                               		<div class="col-md-12">   		
						              <div class="row align-items-end">              
						              	<strong class="card-title">Endereço(s)</strong>
						              </div>              
						            </div>     
				               </div>
            				</div>   
		                       <th:block th:each="endereco : ${enderecos}" >
									<div class="card-body">
						               <div class="col-md-12">
								       		<div class="row align-items-end">
								       			<div class="col-md-12">
													<div class="form-group">
														<label for="descricao">Descrição</label>
														<input type="text" name="descricao" id="descricao" th:value="${endereco.descricao}" class="form-control" disabled>
													</div>
												</div>
									            <div class="col-md-6">
													<div class="form-group">
														<label for="lodradouro">Logradouro</label>
														<input type="text" name="logradouro" id="lodradouro" th:value="${endereco.logradouro.logradouro}" class="form-control" disabled>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label for="numero">Nº</label>
														<input type="number" name="numero" id="numero" th:value="${endereco.numero}"  class="form-control" disabled>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="tipoResidencia">Tipo de Residência</label>
														<input type="text" name="tipoRes" id="tipoRes" th:value="${endereco.tipoResidencia.descricao}"   class="form-control" disabled>		
													</div>
												</div>
												<div class="col-md-8">
													<div class="form-group">
														<label for="bairro">Bairro</label>
														<input type="text" name="bairro" id="bairro" th:value="${endereco.bairro}" class="form-control" disabled>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label for="cep">CEP</label>
														<input type="text" name="cep" id="cep" th:value="${endereco.cep}" class="form-control" disabled>
													</div>
												</div>
												<div class="col-md-10">
													<div class="form-group">
														<label for="cidade">Cidade</label>
														<input type="text" name="cidade" id="cidade" th:value="${endereco.cidade.cidade}"  class="form-control" disabled>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label for="estado">Estado</label>
														<input type="text" name="estado" id="estado" th:value="${endereco.cidade.estado.sigla}" class="form-control" disabled>		
													</div>
												</div>		
		                                  	</div>
		                               </div>
		                            </div>   
		                       	</th:block> 	
                               <!-- Telefone(s)-->
                               <div class="card-body">
	                               <div class="col-md-12">   
	                               		<div class="col-md-12">   		
							              <div class="row align-items-end">              
							              	<strong class="card-title">Telefone(s)</strong>
							              </div>              
							            </div>     
					               </div>				        
				        		<th:block th:each="telefone : ${telefones}" >          
				               		<div class="col-md-12">	
							       			<div class="row align-items-end">
										            <div class="col-md-2">
														<div class="form-group">
															<label for="telefone">DDD</label>
															<input type="text" maxlength="2" name="DDDtelefone" id="DDDtelefone" th:value="${telefone.ddd}" class="form-control" disabled>
														</div>
													</div>	
													<div class="col-md-3">	
														<div class="form-group">
															<label for="telefone">Número</label>
															<input type="tel" name="numero" maxlength="11" id="numero" th:value="${telefone.numero}" class="form-control" disabled>						
														</div>
													</div>
													<div class="col-md-3">	
														<div class="form-group">
															<label for="telefone">Tipo de telefone</label>
															<input type="tel" name="tipo" id="tipo" th:value="${telefone.tipo.descricao}" class="form-control" disabled>
														</div>
													</div>	        	
							       			</div>            	
                              	 		</div>
                          		</th:block>     
                               </div>
                            </form>    
	                    </div>
	                </div>
	            </div>        
	        </div>
        </div>
        <!--/.principal-->
		<div class="clearfix"></div>
	</section>
</body>
</html>
