<!DOCTYPE html>
<html lang="pt-br" 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"  
	xmlns:s="http://www.springframework.org/tags"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadraoNature">
<head>
	<title>NaturÊ | Meus Pedidos</title>
</head>
<body>

	<section layout:fragment="conteudo">
		<!--Banner--> 
	    <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
	      <div class="container">
	        <div class="row no-gutters slider-text align-items-center justify-content-center">
	          <div class="col-md-9 ftco-animate text-center">
	            <h1 class="mb-0 bread">Meus Pedidos</h1>
	          </div>
	        </div>
	      </div>
	    </div>
		<!-- .banner -->
		<section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
	    			<div class="col-md-12 ftco-animate">
	    				<div class="cart-list">
		    				<table class="table">
							    <thead class="thead-primary">
							      <tr class="text-center">
							        <th>Pedido</th>
							        <th>Data da compra</th>
							        <th>Total</th>
							        <th>Status</th>
							        <th>&nbsp;</th>
							      </tr>
							    </thead>
							    <tbody>
							      <tr class="text-center" th:if="${not temCompras}">
							      	<td colspan="5">
							      		<span>Nenhum pedido realizado</span>
							      	</td>
							      </tr>
							      <th:block th:each= "compra : ${compras}">
							      	<tr class="text-center">
								        <td>
								        	<a href="#"><span th:text="|#${compra.id}|"></span></a>
								        </td>	        
								        <td>
								        	<span th:text="${#dates.format(compra.dataCompra, 'dd/MM/yyyy')}"></span>
								        </td>
								        <td class="price">
								        	<span th:text="|R$ ${compra.total}|"></span>
								        </td>
								        <td>
								        	<span th:text="${compra.situacao.descricao}"></span>
								        </td>
								        <td><a href="#">Detalhes</a></td>
							      	</tr>
							      </th:block>
							    </tbody>
							</table>
						</div>
	    			</div>
    			</div>
			</div>
		</section>
	</section>
</body>
</html>