<!DOCTYPE html>
<html lang="pt-br" 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"  
	xmlns:s="http://www.springframework.org/tags"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadraoNature">
<head>
	<title>NaturÊ | Produtos</title>
</head>
<body class="goto-here">
	<section layout:fragment="conteudo">
		<!--Banner-->
		<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
			<div class="container">
			  <div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span>Conheça nossos</span></p>
				  <h1 class="mb-0 bread">Produtos</h1>
				</div>
			  </div>
			</div>
		  </div>
	    <section class="ftco-section">
	    	<div class="container">
	    		<div class="row justify-content-center">
	    			<div class="col-md-10 mb-5 text-center">
	    				<ul class="product-category">
	    					<li><a href="/produtos" th:classappend="${em_geral} ? 'active'">Todos</a></li>
	    					<th:block th:each= "tipo : ${tiposProduto}">
		    					<li>
		    						<a th:href="@{/produto/categoria/{tipoProduto}(tipoProduto=${tipo.toString().toLowerCase()})}" th:classappend="${tipo == selecionado} ? 'active'">
		    							<span th:text=${tipo.descricao}></span>
		    						</a>
		    					</li>
	    					</th:block>
	    				</ul>
	    			</div>
	    		</div>
	    	<!-- Exibição dos produtos -->
	    	<div class="row">
	    		<th:block th:each="produto : ${produtos}" >
	    			<div class="col-md-6 col-lg-3 ftco-animate">
	    				<div class="product">
	    					<a th:href="@{/produto/{id}(id=${produto.id})}" class="img-prod"><img class="img-fluid" th:src="${produto.url}" alt="Colorlib Template"/></a>
	    					<div class="text py-3 pb-4 px-3 text-center">
	    						<h3><a href="#"><span th:text="${produto.nome}">Produto</span></a></h3>
	    						<div class="d-flex">
	    							<div class="pricing">
			    						<p class="price"><span class="price-sale" th:text="|R$ ${produto.valor}|">Valor</span></p>
			    					</div>
		    					</div>
		    					<div class="bottom-area d-flex px-3">
		    						<div class="m-auto d-flex">
		    							<a th:href="@{/produto/{id}(id=${produto.id})}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
		    								<span><i class="ion-ios-menu"></i></span>
		    							</a>
		    							<a th:onclick="'addcarrinho('+${produto.id}+')'" class="buy-now d-flex justify-content-center align-items-center mx-1">
		    								<span><i class="ion-ios-cart"></i></span>
		    							</a>
	    							</div>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		<th:block>
	    	  </div>
	        </div>
	    </section>
	</section>
<th:block layout:fragment="javascript-extra">
 <script src="/js/produto.js"></script>
</th:block>
  </body>
</html>