<!DOCTYPE html>
<html lang="pt-br" 	
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://thymeleaf.org"  
	xmlns:s="http://www.springframework.org/tags"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadraoNature">
<head>
	<title>NaturÊ | Sobre nós</title>
</head>
</body>
	<section layout:fragment="conteudo">
	    <!--Banner-->
	    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
	      <div class="container">
	        <div class="row no-gutters slider-text align-items-center justify-content-center">
	          <div class="col-md-9 ftco-animate text-center">
	          	<p class="breadcrumbs"><span>Um pouco mais</span></p>
	            <h1 class="mb-0 bread">Sobre nós</h1>
	          </div>
	        </div>
	      </div>
	    </div>
	    <!--Imagem e descrição-->
	    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
				<div class="container">
					<div class="row">
						<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
							<a href="https://vimeo.com/23493954" class="icon popup-vimeo d-flex justify-content-center align-items-center">
								<span class="icon-play"></span>
							</a>
						</div>
						<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
		          <div class="heading-section-bold mb-4 mt-md-5">
		          	<div class="ml-md-0">
			            <h2 class="mb-4">Ainda não nos conhece ?</h2>
		            </div>
		          </div>
		          <div class="pb-md-5">
		          	<p>A NaturÊ é uma das lojas virtuais do grupo Natureza em foco LTDA, empresa que tem ganhado espaço
	                no cenário nacional devido a qualidade de seus produtos e preocupação com o meio ambiente.
	              </p>
	              <p><a href="/produtos" class="btn btn-primary">Ver produtos</a></p>
							</div>
						</div>
					</div>
				</div>
		</section>
	</section>
  </body>
</html>